<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <title>{{ title }}</title>
    </head>
    <body>
        <h1>Миссия Колонизация Марса</h1>
        <h4>И на Марсе будут яблони цвести!</h4>
        {%for i in main_list%}
            {%if list == "ol"%}
                <p>{{loop["index"]}}. {{i}}</p>
            {%elif list == "ul"%}
                <p>* {{i}}</p>
            {%else%}
                <p>wrong parameter(ul/ol)</p>
            {%endif%}
        {%endfor%}
    </body>
</html>